.foggyclarity {
  background-color: rgba(111, 119, 118, 0.5); }

#firstPage {
  background: url("../images/cello.jpg");
  background-size: cover; }

#firstcontainer {
  background-color: rgba(20, 20, 20, 0.2); }

#secondPage {
  background-image: url("../images/campy.jpg");
  background-size: cover; }

#thirdPage {
  background-image: url("../images/water.jpg");
  background-size: cover; }

#fourthPage {
  background-image: url("../images/plane.jpg");
  background-size: cover; }

.secondSlides {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 36px;
  color: white; }

#name {
  text-align: center;
  color: white;
  font-family: "Fjalla One", sans-serif;
  font-size: 80px;
  text-shadow: rgba(0, 0, 0, 0.91) 0 0 4px; }

#nav {
  position: relative;
  text-align: center;
  top: 4em;
  margin-left: auto;
  margin-right: auto;
  bottom: -10%;
  font-family: "Merriweather", serif;
  font-size: 16px;
  color: white;
  text-decoration: none; }

.navlink {
  font-family: "Merriweather", serif;
  font-size: 36px;
  color: #de4545;
  text-decoration: none; }

.navlink:hover {
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  font-family: "Merriweather", serif;
  font-size: 36px;
  color: #a11c1c; }

#about {
  background-color: rgba(51, 50, 51, 0.65); }

#profile {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.head {
  text-align: center;
  margin-top: 2%;
  font-family: "Fjalla One", sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: #de4545; }

.profiletext {
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 18px; }

.red {
  color: #de4545;
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-weight: bold; }

#mugtext {
  color: #de4545;
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-weight: bold; }

#mug {
  display: block;
  margin: auto;
  border: 2px solid white;
  border-radius: 50%;
  overflow: hidden;
  height: 150px;
  width: 150px; }

#project1 {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-size: 52px; }

#project2 {
  text-align: center;
  font-family: 'Philosopher', sans-serif;
  font-size: 52px; }

#project3 {
  text-align: center;
  font-family: 'Rock Salt', cursive;
  font-size: 48px; }

#project4 {
  text-align: center;
  font-family: 'Grand Hotel', cursive;
  font-size: 72px; }

.projectimg {
  height: 100%;
  width: 100%; }

.projectimg:hover {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px); }

.projectlinks {
  color: #de4545;
  text-decoration: none;
  background-color: #303030;
  padding: 4px; }

.projectlinks:hover {
  color: #de4545;
  text-decoration: none;
  background-color: white;
  padding: 4px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s; }

#project1big {
  background: url("../images/project1big.png");
  background-size: cover; }

#project2big {
  background: url("../images/project2big.png");
  background-size: cover; }

#project3big {
  background: url("../images/project3big.png");
  background-size: cover; }

#project4big {
  background: url("../images/project4big.png");
  background-size: cover; }

.bigdesc {
  text-align: center;
  background-color: rgba(40, 40, 40, 0.9);
  color: white;
  font-family: "Nunito", sans-serif; }

/*# sourceMappingURL=sassfile.css.map */
