$neutralgray: rgba(20, 20, 20, 0.2);
$headFont: 'Fjalla One', sans-serif;
$sarif: 'Merriweather', serif;
$salmon: rgb(204, 45, 45);
$fun: 'Nunito', sans-serif;



.foggyclarity{
  background-color: rgba(111, 119, 118, 0.5);
}

#firstPage{
  // background-color: $neutralgray;
  background: url("../images/cello.jpg");
  background-size: cover;
  // -webkit-filter: blur(5px);
  // -moz-filter: blur(5px);
  // -o-filter: blur(5px);
  // -ms-filter: blur(5px);
  // filter: blur(5px);
}
#firstcontainer{
  background-color: $neutralgray;
}

#secondPage{
  // background-color: rgba(149, 38, 48, .2);
  background-image: url("../images/campy.jpg");
  background-size: cover;
}

#thirdPage{
  // background-color: rgba(226, 111, 49, .2);
  background-image: url("../images/water.jpg");
  background-size: cover;
}

#fourthPage{
  // background-color: rgba(171, 99, 187, .2);
  background-image: url("../images/plane.jpg");
  background-size: cover;

}


.secondSlides{
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 36px;
  color: white;
}


#name {
  text-align: center;
  color: white;
  font-family: $headFont;
  font-size: 80px;
  text-shadow: rgba(0, 0, 0, 0.91) 0 0 4px;
}

#nav{
  position: relative;
  text-align: center;
  top: 4em;
  margin-left: auto;
  margin-right: auto;
  bottom: -10%;
  font-family: $sarif;
  font-size: 16px;
  color: white;
  text-decoration: none;

}

.navlink{
  font-family: $sarif;
  font-size: 36px;
  color: $salmon;
  text-decoration: none;
}

// .navlink:hover{
//   -o-transition:.5s;
//   -ms-transition:.5s;
//   -moz-transition:.5s;
//   -webkit-transition:.5s;
//   transition:.5s;
//   font-family: $sarif;
//   font-size: 36px;
//   color: darken($salmon, 20%);
//   // text-decoration: underline;
// }

#about{
  background-color: rgba(51, 50, 51, 0.7);
}

#profile{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.head{
  text-align: center;
  margin-top: 2%;
  // font-family: $fun
  font-family: $headFont;
  font-size: 48px;
  font-weight: bold;
  color: $salmon;
}

.profiletext{
  color: white;
  font-family: $fun;
  font-size: 18px;
}

.red{
  color: $salmon;
  font-family: $fun;
  font-size: 24px;
  font-weight: bold;
}

#mugtext{
  color: $salmon;
  font-family: $fun;
  font-size: 24px;
  font-weight: bold;
}

#mug {
  display:block;
  margin: auto;
  border: 2px solid white;
  border-radius: 50%;
  overflow: hidden;
  height: 150px;
  width: 150px;
}


#project1{
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-size: 52px;
}

#project2{
  text-align: center;
  font-family: 'Philosopher', sans-serif;
  font-size: 52px;
}

#project3{
  text-align: center;
  font-family: 'Rock Salt', cursive;
  font-size: 48px;
}

#project4{
  text-align: center;
  font-family: 'Grand Hotel', cursive;
  font-size: 72px;
}


.projectimg{
  height: 100%;
  width: 100%;
}

.projectlinks{
  color: $salmon;
  text-decoration: none;
  background-color: rgb(48, 48, 48);
  padding: 4px;
}
.projectlinks:hover{
  color: $salmon;
  text-decoration: none;
  background-color: white;
  padding: 4px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;

}

// #project1big{
//   background: url("../images/project1big.png");
//   background-size: cover;
// }
// #project2big{
//   background: url("../images/project2big.png");
//   background-size: cover;
// }
// #project3big{
//   background: url("../images/project3big.png");
//   background-size: cover;
// }
// #project4big{
//   background: url("../images/project4big.png");
//   background-size: cover;
// }
//
// .bigdesc{
//   text-align: center;
//   background-color: rgba(40, 40, 40, 0.9);
//   color: white;
//   font-family: $fun;
// }


// #trial{
//   z-index: -1;
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   background: url("../images/project1.png") no-repeat center center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
//   /* Preserve aspect ratio */
//   min-width: 100%;
//   min-height: 100%;
// }
